/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    padding: 0px 7px;
}

/* Home Section */
#home {
    height: 320px;
    padding: 3px 68px;
}

#home::before {
    height: 400px;
}

#home p {
    font-size: 13px;
}

/* Services Section */
#services {
    flex-direction: column;
}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* Clients Section */
#clients {
    flex-wrap: wrap;
    padding: 6px;
    height: auto;
    
}

/* Contact Us Section */

/* Footer */

/* Utility Classes */

.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}